/*
 * @package revocanda
 *
 * ================================
 * ADMIN PAGE
 * ================================
 *
 * */

.wp-core-ui .notice.is-dismissible {
    margin-left: 0;
    margin-bottom: 20px;
}

.revocanda-general-form,
.revocanda-sidebar-preview{
    float: left;
}
.revocanda-sidebar-preview{
    width: 280px;
    background-color: #1F1F1F;
    padding: 20px;
    text-align: center;
    margin-right: 20px;
}
.revocanda-sidebar{
    display: block;
    text-align: center;
}
.sidebar-username{
    font-weight: 100;
    color: #fff;
    font-size: 24px;
    margin: 0 0 10px 0;
}
.sidebar-description{
    font-weight: 100;
    color: #fff;
    font-size: 13px;
    margin: 0 0 20px 0;
}

.image-container{
    margin-bottom: 20px;
}
.profile-picture{
    text-align: center;
    display: inline-block;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.profile-picture img{
    max-width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/*======= From Land =======*/

.dynamic-fields{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dynamic-fields .top-wrap{
    width: 100%;
    background-color: #fafafa;
    display: inline-block;
    padding-top: 5px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
    cursor: pointer;
}
.dynamic-fields .content-wrap{
    padding: 10px;
    display: none;
    position: relative;
}
.dynamic-fields-blocks{
    /*border: 1px solid #e5e5e5;
    padding: 10px;*/
}
.dynamic-fields-block{
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
    margin-top: 10px;
}
.dynamic-fields-block .block-toggle{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.dynamic-fields-block .block-toggle:hover{
    color: #38b238;
}
.dynamic-fields-block .remove-block{
    cursor: pointer;
    float: right;
    border: 2px solid red;
    margin: 0;
    padding: 0;
    color: red;
    margin-right: 5px;
}
.dynamic-fields-block .img-title{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.widget-block-img{
    border: 1px dashed #e5e5e5;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;
    display: table;
    max-width: 100%;
    box-sizing: border-box;
    width: 140px;
    height: 100px;
}
.widget-block-img a{
    vertical-align: middle;
    padding: 5px;
    display: inline-block;
}
.widget-block-img img{
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
    display: inline-block;
}
.dynamic-fields-block .remove-block:hover{
    background-color: red;
    color: white;
}
.dynamic-fields-block .block-num{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 3px;
}
.dynamic-fields-block .change-pos{
    position: absolute;
    right: 10px;
    width: 100%;
    bottom: 10px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dynamic-fields-block .change-pos .dashicons{
    font-size: xx-large;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}
.dynamic-fields-block .change-pos .dashicons:hover{
    color: #38b238;
}
.dynamic-fields .add-block{
    width: 20px;
    text-align: center;
    margin-top: 10px;
    height: 18px;
    padding: 10px;
    border: 2px solid #38b238;
    cursor: pointer;
    color: #38b238;
    display: inline-block;
}
.dynamic-fields .add-block:hover{
    background-color: #38b238;
    color: white;
}
.dynamic-fields .add-block-title{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    color: #38b238;
}

.fieldsTemplate{
    display: none;
}

.set-margin{
    margin-bottom: 50px;
}

.wp-editor-conteiner{
    margin-bottom: 5px;
    margin-top: 5px;
}

div.mce-fullscreen {
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 30px;
    padding-left: 30px;
}

#TB_window {
    width: 100% !important;
    height: 100% !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    top: 25% !important;
    right: 10% !important;
    bottom: 25% !important;
    left: 10% !important;
    width: 80% !important;
    height: 50% !important;
}
#TB_Image {
    width: auto !important;
    max-width: 90%;
    height: auto !important;
    max-height: 100%;
    margin: auto !important;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;
    border: none !important;
    width: auto!important;
    object-fit: cover;
}
@media (min-width: 992px) {
    #TB_window {
        top: 10% !important;
        bottom: 10% !important;
        height: 80% !important;
    }
}

.addEditor{
    border: 1px solid rgba(221, 221, 221, 0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
}

.video-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed, .video-container video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.dd-select {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}
.dd-selected {
	padding: 0!important;
    padding-left: 5px!important;
	min-height: 32px;
}
.dd-option {
    padding: 5px!important;
}
.dd-option-image, .dd-selected-image {
    object-fit: contain;
    width: 22px;
    height: 22px;
}