/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}


/*----------*/


.attachment{
	text-align: center;
}
.attachment img{
	max-width: 100%;
}

.wp-video {
    margin: auto;
}

#TB_window {
    width: 100% !important;
    height: 100% !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    top: 25% !important;
    right: 10% !important;
    bottom: 25% !important;
    left: 10% !important;
    width: 80% !important;
    height: 50% !important;
}
#TB_Image {
    width: auto !important;
    max-width: 100%;
    height: auto !important;
    max-height: 100%;
    margin: auto !important;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;
    border: none !important;
    width: auto!important;
    object-fit: cover;
}
@media (min-width: 992px) {
    #TB_window {
        top: 10% !important;
        bottom: 10% !important;
        height: 80% !important;
    }
}

.gallery-item{
	display: table;
    height: 250px;
    margin-top: 20px;
}
.gallery-item > div{
	display: table-cell;
}
.lightbox-wrap.gallery img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0px;
    left: 0;
    object-fit: cover;
}

.wp-video{
    /*position: absolute;*/
    max-width: 100%;
}

.video-wrap .wp-video{
    position: absolute;
    max-width: 100%;
    height: 280px;
    max-height: 280px;
    overflow: hidden;
}

.modal-body-video .mejs-container{
    max-width: 100%;
    max-height: 100%;
    height: 100%!important;
    position: absolute;
    width: 100%!important;
    top: 0;
    left: 0;
}
.modal-body-video .wp-video{
    position: unset;
}
.wp-video .mejs-container{
    height: 100%!important;
}
.mejs-container .mejs-controls, .mejs-embed, .mejs-embed body {
    width: 100%;
}

.section-item-list-2 img {
    height: 290px;
    object-fit: cover;
}

.section-center-contacts .address-box{
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 24px;
}
.section-our-contacts .content-wrap{
    margin-top: 45px;
}

.all_centers{
    display: none;
}
#insert_content{
    display: none;
}

.section-item-list-1 .list-item-box-1 img{
	max-width: 100%;
    height: 420px;
    object-fit: cover;
}

.slider-specialist .item img {
    max-width: 280px;
	height: 420px;
	object-fit: cover;
}

.slider-centers img {
    min-height: 971px;
	max-height: 971px;
    object-fit: cover;
}

section.section-results .face img {
    height: 720px;
    width: 480px;
    object-fit: cover;
}

section.section-feedback-page .face img {
    height: 420px;
    width: 280px;
    object-fit: cover;
}

section.section-feedback-page .list-item-box-2 img{
	height: 385px;
    width: 280px;
    object-fit: contain;
}

.section-about-us-page .row img{
	max-width: 100%;
}

.slider-our-services img {
	width: 480px;
    height: 640px;
    object-fit: cover;
}

.slider-gallery .item img {
    width: 386px;
    height: 257px;
    object-fit: contain;
}

.lightbox-wrap img {
    width: 380px;
    height: 534px;
    object-fit: contain;
    max-width: 100%;
}

.section-media-articles .inner-wrap img {
    width: 380px;
    height: 290px;
    object-fit: cover;
}

.video-container iframe {
    position: relative;
    width: 100%;
    min-height: 480px;
}

.section-price-page .inner-wrap .price-description {
    max-height: 145px;;
}
.section-price-page .inner-wrap .price-description p {
    margin-bottom: 5px;
}

.section-video .bg-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-video .bg-box{
    height: inherit;
}

.section-item-page.image-default img {
    margin: 0;
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    margin-bottom: 0;
}

.section-price-page .inner-wrap .price-description ul {
    font-size: 16px;
    line-height: 30px;
}

.social-buttons ul .instagram {
    background-image: url(../img/instagram.png);
}
.social-buttons ul .youtube {
    background-image: url(../img/youtube.png);
}
.social-buttons a{
    width: 100%;
    height: 100%;
    display: block;
}

.slick-slide {
    overflow: hidden;
    text-align: center;
}
.slick-slide img {
    display: inline-block;
}
.slick-initialized .slick-slide {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

section.events-page img{
    max-width: 100%;
}

/* Images */
.entry-content img,
.comment-content img,
.widget img {
    max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"] {
    height: auto; /* Make sure images with WordPress-added height and width >attributes are scaled correctly */
}
img.size-full {
    max-width: 97.5%;
    width: auto; /* Prevent stretching of full-size images with height and >>width attributes in IE8 */
}

.footer-links > p:first-child {
    font-size: 18px;
    line-height: 28px;
    color: #000;
    margin: 25px 0 0 0;
    padding-bottom: 25px;
    position: relative;
}
.footer-links > p:first-child:after {
    content: "";
    width: 160px;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer-links a:hover{
    text-decoration: underline;
}
.footer-links .current-menu-item a{
    color: #337ab7;
}

.section-4-items-slider{
    background: #fff;
    padding: 20px;
}
.slider-4-items img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slider-4-items .slick-slide {
    margin-right: 10px;
    margin-left: 10px;
}
.slider-4-items .slick-slide img {
    max-width: 100%;
}

.partnersSlider{
    margin-top: 20px;
}

.flying-video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: #000
}

.flying-video .textwidget {
    height: 100%;
}

.flying-video .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC) repeat; */
    background-color: rgba(0,0,0,.4)
}

.flying-video video {
    width: auto;
    min-height: 100%;
    min-width: 100%;
}

.only-mobile {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .only-mobile {
        display: none;
    }
}