@font-face {
  font-family: "sd_georgia_lightregular";
  src: url("../fonts/sd_georgia_light-webfont.woff2") format("woff2");
  src: url("../fonts/sd_georgia_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif; }

a:hover {
  text-decoration: none; }

.section-results .hidden-600 {
  display: block; }

.section-results .visible-600 {
  display: none; }

.mt-100 {
  margin-top: 100vh; }

.relative {
  position: relative; }

.auto {
  position: relative;
  height: auto; }

.stretch-y {
  display: flex;
  align-items: stretch; }

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.blue-bg {
  background-color: #1874cd !important; }

p {
  font-size: 16px;
  line-height: 30px; }

ul {
  padding: 0;
  margin: 0; }

button:focus {
  outline: none; }

button {
  background-color: transparent;
  border: none; }

.section-slider-services,
.section-about-us,
.section-specialist,
.section-gallery,
.section-testimonials,
.section-special-offer-1 {
  background-color: #fff;
  padding: 80px 0; }

.to-left {
  float: left; }

.to-right {
  float: right; }

/*begin border animation */
.slider-arrow {
  width: 60px;
  height: 60px;
  box-shadow: inset 0 0 0 2px #dcdcdc;
  position: relative;
  text-align: center;
  margin: 40px 0 0 40px;
  cursor: pointer;
  float: left; }
  .slider-arrow::before, .slider-arrow::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%; }
  .slider-arrow .fa {
    color: #1874cd;
    font-size: 30px;
    line-height: 58px; }

.draw {
  transition: color 0.25s; }
  .draw::before, .draw::after {
    border: 2px solid transparent;
    width: 0;
    height: 0; }
  .draw::before {
    top: 0;
    left: 0; }
  .draw::after {
    bottom: 0;
    right: 0; }
  .draw:hover {
    color: #1874cd; }
  .draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%; }
  .draw:hover::before {
    border-top-color: #1874cd;
    border-right-color: #1874cd;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s; }
  .draw:hover::after {
    border-bottom-color: #1874cd;
    border-left-color: #1874cd;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s; }

/*end border animation */
/* video */
.section-video {
  position: fixed;
  z-index: -2;
  left: 0;
  top: 0;
  width: 100%;
  height: 110vh; }

.video-container {
  overflow: hidden; }

.video {
  width: 100%;
  height: 100%; }

.overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

/*section-intro */
.section-intro {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  text-align: center;
  opacity: 1; }

.inner-video-content {
  width: 100%;
  height: auto;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0; }
  .inner-video-content h1 {
    font-size: 70px;
    line-height: 56px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: "sd_georgia_lightregular", Arial, Helvetica, sans-serif; }

.video-progress-bar {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-top: 50px;
  animation-name: progressBar;
  animation-duration: 17s;
  animation-timing-function: linear; }

.top-video-description {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px; }

@keyframes progressBar {
  from {
    width: 0; }
  to {
    width: 100%; } }
.bg-box {
  display: none; }

header {
  position: fixed;
  z-index: 9900;
  width: 100%;
  min-height: 90px;
  cursor: pointer;
  transition: 0.5s;
  transition-delay: 0.2s;
  top: 0; }
  header:hover {
    background-color: #fff; }

.main-menu {
  width: 100%;
  padding: 15px 0;
  position: relative;
  z-index: 9;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }

.white-bg {
  background-color: #fff; }

.scroll-menu {
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.1);
  padding: 15px 0;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  transition: all 0.8s ease; }

.logo-header {
  background-repeat: no-repeat;
  background-position: left top;
  display: block;
  width: 80px;
  height: 60px;
  transition-delay: 0.2s; }

.logo-blue {
  background-image: url("../img/logo-blue.png"); }

.logo-white {
  background-image: url("../img/logo-white.png"); }

header:hover .logo-header {
  background-image: url("../img/logo-blue.png"); }

button {
  padding: 0; }

.menu-button {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: right center;
  float: right;
  opacity: 1;
  margin-top: 10px;
  transition-delay: 0.2s; }

.menu-button-white {
  background-image: url("../img/collapse-icon-white.png"); }

.menu-button-blue {
  background-image: url("../img/collapse-icon-blue.png"); }

header:hover .menu-button {
  background-image: url("../img/collapse-icon-blue.png"); }

.login-button {
  width: 40px;
  height: 40px;
  margin: 10px 22px 0 30px;
  background-repeat: no-repeat;
  background-position: center center;
  float: right;
  padding: 0 20px;
  transition-delay: 0.2s; }

.login-button-white {
  background-image: url("../img/person-icon-white.png");
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3); }

.login-button-blue,
header:hover .login-button,
header.white-bg .login-button {
  background-image: url("../img/person-icon-blue.png");
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9; }

.language-button {
  float: right;
  position: relative;
  padding-right: 25px;
  line-height: 40px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  transition-delay: 0.2s; }

.language-button:after,
header:hover .language-button:after,
header.white-bg .language-button:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 7px;
  top: 50%;
  right: 0;
  transform: translatey(-50%); }

.language-button-white {
  color: #fff; }

.language-button-white:after {
  background-image: url("../img/caret-bottom-white.png"); }

.language-button-grey,
header:hover .language-button,
header.white-bg .language-button {
  color: #000; }

.language-button-grey:after,
header:hover .language-button:after,
header.white-bg .language-button:after {
  background-image: url("../img/caret-bottom-grey.png"); }

.test-button,
.blog-button,
.email-button {
  float: right;
  padding-left: 35px;
  margin-right: 50px;
  margin-top: 10px;
  line-height: 40px;
  opacity: 0;
  position: relative;
  transition-delay: 0.2s; }

.email-button-white a {
  color: #fff;
  line-height: 40px; }

.email-button-white:after {
  background-image: url("../img/caret-bottom-white.png"); }

header:hover .test-button,
header:hover .blog-button,
header:hover .email-button {
  opacity: 1; }

.test-button-grey a,
.blog-button-grey a,
.email-button-grey a,
header:hover .email-button a {
  color: #000; }

.email-button:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 17px;
  background-image: url("../img/envelope-blue.png");
  top: 50%;
  left: 0;
  transform: translatey(-50%); }

.contact-button {
  float: right;
  position: relative;
  padding-left: 35px;
  padding-right: 25px;
  margin-right: 50px;
  line-height: 40px;
  opacity: 0;
  margin-top: 10px;
  transition-delay: 0.2s; }

.contact-button:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 17px;
  background-image: url("../img/phone-blue.png");
  top: 50%;
  left: 0;
  transform: translatey(-50%); }

.contact-button:after,
header:hover .contact-button:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 7px;
  top: 50%;
  right: 0;
  transform: translatey(-50%); }

.contact-button-white {
  color: #fff;
  line-height: 40px; }

.contact-button-white:after {
  background-image: url("../img/caret-bottom-white.png"); }

header:hover .contact-button {
  opacity: 1; }

.contact-button-grey,
header:hover .contact-button {
  color: #000; }

.contact-button-grey:after,
header:hover .contact-button:after {
  background-image: url("../img/caret-bottom-grey.png"); }

.submenu-box {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 90px;
  display: none;
  opacity: 0; }

.submenu-box.show {
  opacity: 1;
  transition-duration: 0.2s; }

.contact-button.show,
.email-button.show {
  opacity: 1;
  transition-duration: 0.2s; }

.item-list {
  background-color: #fff;
  position: absolute;
  left: 100px;
  right: 72px;
  text-transform: uppercase;
  border-right: 1px solid #d9d9d9;
  margin-top: 25px; }
  .item-list ul {
    padding: 0;
    float: right;
    margin: 0;
    position: relative; }
  .item-list ul li {
    display: inline-block;
    line-height: 40px;
    margin-right: 40px; }
    @media (max-width: 992px) {
      .item-list ul li {
        display: block; } }

.item-list ul li a {
  color: #000;
  transition: 0.5s; }
  .item-list ul li a:hover {
    text-decoration: none;
    color: #ff0000; }

.contact-box .item-list ul:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translatey(-50%);
  background-image: url("../img/phone-blue.png");
  width: 16px;
  height: 17px; }

.menu-button-close,
.language-button-close,
.contact-button-close,
.login-button-close {
  position: absolute;
  top: 25px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("../img/menu-close.png");
  background-color: #fff; }

.login-button-group {
  background-color: #fff;
  position: absolute;
  left: 100px;
  right: 72px;
  margin-top: 25px;
  border-right: 1px solid #d9d9d9; }

.sign-in,
.registration {
  float: right;
  line-height: 40px;
  margin-right: 50px; }
  .sign-in a,
  .registration a {
    color: #000; }
    .sign-in a:hover,
    .registration a:hover {
      text-decoration: none;
      color: #1874cd; }

.sign-in {
  padding-left: 35px;
  position: relative; }
  .sign-in:before {
    content: "";
    width: 19px;
    height: 21px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    background-image: url("../img/sign-in-icon.png"); }

.registration {
  padding-left: 40px;
  position: relative; }
  .registration:before {
    content: "";
    width: 26px;
    height: 21px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    background-image: url("../img/registration-icon.png"); }

header.white-bg .menu-button {
  opacity: 0; }

@media (max-width: 992px) {
  header .main-menu > .container {
    width: 100%; } }

/*section-slider section-slider-services */
.section-slider-services {
  margin-top: 100vh; }
  .section-slider-services .main-button {
    margin-top: -55px; }

.slider-our-services img {
  width: 100%;
  height: auto; }
.slider-our-services .slick-dots {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 43px; }
.slider-our-services .slider-content-box {
  position: relative;
  padding-left: 90px;
  margin-top: 60px; }
  .slider-our-services .slider-content-box h2 {
    font-size: 24px;
    line-height: 38px;
    text-transform: uppercase; }
  .slider-our-services .slider-content-box > span {
    font-size: 24px;
    line-height: 38px;
    color: #d9d9d9;
    position: absolute;
    top: 0;
    left: 15px; }
  .slider-our-services .slider-content-box p {
    color: #000;
    text-align: left;
    margin-top: 100px; }

/*begin slider arrows border animation */
.arrow-next-red,
.arrow-prev-red,
.arrow-next-white,
.arrow-prev-white {
  width: 55px;
  height: 55px;
  box-shadow: inset 0 0 0 2px #dcdcdc;
  position: absolute;
  text-align: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center; }

.arrow-next-red::before,
.arrow-next-red::after,
.arrow-prev-red::before,
.arrow-prev-red::after,
.arrow-next-white::before,
.arrow-next-white::after,
.arrow-prev-white::before,
.arrow-prev-white::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%; }

.arrow-next-red {
  background-image: url("../img/arrow-next-red.png");
  bottom: 0;
  right: 285px;
  z-index: 99; }

.arrow-prev-red {
  background-image: url("../img/arrow-prev-red.png");
  bottom: 0;
  right: 360px;
  z-index: 99; }

.draw-red {
  transition: color 0.25s; }
  .draw-red::before, .draw-red::after {
    border: 2px solid transparent;
    width: 0;
    height: 0; }
  .draw-red::before {
    top: 0;
    left: 0; }
  .draw-red::after {
    bottom: 0;
    right: 0; }
  .draw-red:hover {
    color: #ff0000; }
  .draw-red:hover::before, .draw-red:hover::after {
    width: 100%;
    height: 100%; }
  .draw-red:hover::before {
    border-top-color: #ff0000;
    border-right-color: #ff0000;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s; }
  .draw-red:hover::after {
    border-bottom-color: #ff0000;
    border-left-color: #ff0000;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s; }

/*end slider arrows border animation */
/*slick-dots */
.slick-dots {
  padding: 0; }
  .slick-dots li {
    display: inline-block;
    font-size: 0; }
    .slick-dots li button {
      margin: 10px;
      width: 0;
      height: 0;
      padding: 4px;
      background-color: #d9d9d9;
      color: transparent; }
  .slick-dots li.slick-active {
    border: 1px solid #d9d9d9; }
    .slick-dots li.slick-active button {
      background-color: #ff0000; }

/*section-about-us */
.section-about-us img {
  width: 100%;
  height: auto; }
.section-about-us p {
  margin-top: 50px;
  width: 83.3333%; }
.section-about-us .section-head-box {
  margin-top: 50px; }

.section-head-box {
  position: relative; }

.section-head-back {
  font-size: 64px;
  line-height: 64px;
  color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  position: relative;
  z-index: 10; }

.section-head-title,
.section-head-box p {
  position: absolute;
  bottom: 0;
  left: 5px;
  z-index: 20;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  margin: 0; }

/*section-special-offer-1 */
.section-special-offer-1 {
  padding: 110px 0; }
  .section-special-offer-1 .dot-list {
    width: 55%;
    margin-top: 60px; }
    .section-special-offer-1 .dot-list ul {
      border-top: 1px solid #ff0000;
      padding: 20px 0 0 0;
      margin: 0;
      display: flex;
      align-items: flex-start; }
      .section-special-offer-1 .dot-list ul li {
        display: inline-block;
        width: 30%;
        text-transform: uppercase;
        position: relative; }
        .section-special-offer-1 .dot-list ul li:before {
          content: "";
          width: 75px!important;
          height: 75px!important;
          position: absolute!important;
          transform: translateY(-100%);
          background-repeat: no-repeat; 
          background-color: transparent!important;
        }
        @media (min-width: 992px) {
           .section-special-offer-1 .dot-list ul li:before {
              top: -45px!important;
              left: 0!important;
            }
        }
        .section-special-offer-1 .dot-list ul li:after {
          content: "";
          width: 26px;
          height: 26px;
          background-color: #1874cd;
          border: 8px solid #fff;
          position: absolute;
          top: -33px;
          left: -8px; }
      .section-special-offer-1 .dot-list ul li:nth-child(1):before {
        background-image: url("../img/dot-list-icon-1.png"); }
      .section-special-offer-1 .dot-list ul li:nth-child(2):before {
        background-image: url("../img/dot-list-icon-2.png"); }
      .section-special-offer-1 .dot-list ul li:nth-child(3):before {
        background-image: url("../img/dot-list-icon-3.png"); }
  .section-special-offer-1 .offer-logo {
    width: 45%; }

/*section-feedback */
.section-feedback {
  padding: 130px 0; }
  .section-feedback h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    width: 65%; }
  .section-feedback p {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin: 0; }

.red-button {
  background-color: #fff;
  color: #ff0000; }
  .red-button:hover {
    color: #ff0000!important;
    text-decoration: none; }

.animate-red:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%; }
  .animate-red:after span {
    position: relative;
    z-index: 20; }

.animate-red:hover:after {
  content: "";
  animation: buttonAnim 0.5s ease; }

@keyframes buttonAnim {
  0% {
    transform: scale(0, 1);
    background-color: rgba(220, 220, 220, 0.8); }
  100% {
    transform: scale(1, 1);
    opacity: 1; } }
/*section-specialist */
.section-specialist .main-button {
  margin-top: 40px;
  margin-right: 7.5px; }

/*slider-specialist */
.slider-specialist {
  margin-top: 60px;
  position: relative; }
  .slider-specialist .slick-dots {
    position: absolute;
    bottom: -92px;
    left: 0;
    margin-left: 7.5px; }
  .slider-specialist .arrow-prev-red {
    bottom: -95px;
    right: 410px; }
  .slider-specialist .arrow-next-red {
    bottom: -95px;
    right: 335px; }
  .slider-specialist .item {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .slider-specialist .item img {
      margin: 0 auto;
      display: block; }
  .slider-specialist .description-box {
    max-width: 280px;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, 100%);
    background-color: rgba(24, 116, 205, 0.75);
    transition: 0.5s; }
    .slider-specialist .description-box .inner-wrap {
      position: absolute;
      text-align: center;
      width: 100%;
      height: auto;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      color: #fff;
      padding: 0 15px; }
      .slider-specialist .description-box .inner-wrap > span {
        display: block;
        font-size: 24px;
        line-height: 30px; }
      .slider-specialist .description-box .inner-wrap p {
        font-size: 16px;
        line-height: 24px; }
  .slider-specialist .item:hover .description-box {
    transform: translate(-50%, 0); }

.more-info {
  margin-top: 25px;
  padding: 0; }
  .more-info:hover {
    text-decoration: none; }
  .more-info span {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    line-height: 30px;
    padding: 0 30px;
    position: relative;
    transition: 0.5s; }

.more-info > span:after,
.more-info > span:before {
  content: "";
  width: 23px;
  height: 12px;
  position: absolute;
  top: 50%;
  transition: 0.5s; }

.more-info > span:before {
  background-image: url("../img/arrow-toggle-before-white.png");
  left: 0;
  transform: translate(0, -50%); }

.more-info > span:after {
  background-image: url("../img/arrow-toggle-after-white.png");
  right: 0;
  transform: translate(0, -50%); }

.more-info:hover > span {
  color: rgba(255, 255, 255, 0.2);
  text-decoration: none; }

.more-info:hover > span:before {
  left: 25%;
  transform: translate(50%, -50%); }

.more-info:hover > span:after {
  right: 50%;
  transform: translate(75%, -50%); }

/*section-results */
.section-results {
  background-color: #1874cd;
  padding: 80px 0; }
  .section-results .section-head-box {
    text-align: right; }
    .section-results .section-head-box .section-head-back {
      color: rgba(255, 255, 255, 0.1); }
    .section-results .section-head-box h2 {
      color: #fff;
      right: 5px; }
  .section-results p {
    color: #fff;
    text-align: right;
    margin-top: 140px;
    width: 80%;
    float: right; }
  .section-results .main-button {
    position: absolute;
    bottom: 0;
    right: 0; }

.slider-results {
  max-width: 480px;
  margin: 0 auto; }
  .slider-results .slick-dots {
    text-align: center;
    margin-top: 20px; }
    .slider-results .slick-dots li button {
      background-color: rgba(255, 255, 255, 0.3); }
    .slider-results .slick-dots li.slick-active {
      border-color: #fff; }
      .slider-results .slick-dots li.slick-active button {
        background-color: #fff; }
  .slider-results .arrow-prev-white,
  .slider-results .arrow-next-white {
    box-shadow: inset 0 0 0 2px #fff;
    top: 50%;
    transform: translate(0, -50%); }
  .slider-results .arrow-prev-white {
    background-image: url("../img/arrow-prev-white.png");
    left: -65px;
    z-index: 99; }
  .slider-results .arrow-next-white {
    background-image: url("../img/arrow-next-white.png");
    right: -65px; }

.item:active,
.item:focus {
  outline: none; }

/*flip image */
.flipCard {
  -webkit-perspective: 800;
  -ms-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
  position: relative;
  margin: 50px auto; }

.flipCard .card.flipped {
  transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  -webkit-transform: rotatey(-180deg);
  -o-transform: otatey(-180deg); }

.flipCard .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s; }

.flipCard .card .face {
  position: absolute;
  z-index: 2;
  font-family: Georgia;
  font-size: 3em;
  text-align: center;
  line-height: 200px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.flipCard .card {
  padding: 75% 0; }

.flipCard .card .front {
  position: absolute;
  z-index: 1;
  color: white;
  cursor: pointer; }

.flipCard .card .back {
  cursor: pointer;
  transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  -webkit-transform: rotatey(-180deg);
  -o-transform: rotatey(-180deg); }

.face img {
  width: 100%;
  height: auto; }

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.button-flip-front,
.button-flip-back {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  cursor: pointer; }

.button-flip-front {
  background-image: url("../img/flip-icon-front.png"); }

.button-flip-back {
  background-image: url("../img/flip-icon-back.png"); }

.heartbeat {
  -webkit-animation: heartbeat 15s ease-in-out infinite both;
  animation: heartbeat 15s ease-in-out infinite both; }

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  1% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  3.4% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  6.6% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  9% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  1% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  3.4% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  6.6% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  9% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }
/*section-gallery */
.section-gallery .main-button {
  margin-top: 40px; }

.slider-gallery {
  margin-top: 70px;
  position: relative; }
  .slider-gallery .slick-dots {
    position: absolute;
    bottom: -92px; }
  .slider-gallery .item {
    overflow: hidden; }
    .slider-gallery .item img {
      width: 100%;
      height: auto;
      margin: 0 auto; }
  .slider-gallery .arrow-next-red {
    bottom: -95px;
    right: 260px; }
  .slider-gallery .arrow-prev-red {
    bottom: -95px;
    right: 335px; }
  .slider-gallery .thumbnail {
    border: none;
    border-radius: 0; }
    .slider-gallery .thumbnail:focus {
      outline: none; }

.slick-lightbox-slick-item:focus {
  outline: none; }

.slick-lightbox .slick-next,
.slick-lightbox .slick-prev {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #fff;
  width: 51px;
  height: 51px;
  color: transparent;
  cursor: pointer;
  z-index: 999;
  transition: 0.5s; }

.slick-lightbox .slick-next {
  right: 15px;
  background-image: url("../img/arrow-next-white.png"); }
  .slick-lightbox .slick-next:hover {
    background-image: url("../img/arrow-next-red.png"); }

.slick-lightbox .slick-prev {
  left: 15px;
  background-image: url("../img/arrow-prev-white.png"); }
  .slick-lightbox .slick-prev:hover {
    background-image: url("../img/arrow-prev-red.png"); }

/*section-centers */
.section-centers {
  padding: 0 !important; }

.slider-centers {
  position: relative; }
  .slider-centers .slick-dots {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 225px; }
    .slider-centers .slick-dots li button {
      background-color: rgba(255, 255, 255, 0.3); }
    .slider-centers .slick-dots li.slick-active button {
      background-color: #fff; }
  .slider-centers img {
    width: 100%;
    height: auto; }
  .slider-centers .arrow-next-white {
    top: 50%;
    right: 20%;
    margin-right: -145px;
    background-image: url("../img/arrow-next-white.png"); }
  .slider-centers .arrow-prev-white {
    top: 50%;
    left: 20%;
    z-index: 99;
    margin-left: -145px;
    background-image: url("../img/arrow-prev-white.png"); }
  .slider-centers .arrow-next-white,
  .slider-centers .arrow-prev-white {
    transform: translate(-25%, -50%); }

.slider-centers .item {
  position: relative; }

.slider-centers .slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%); }
  .slider-centers .slider-content .section-head-box {
    margin: 0 auto; }
  .slider-centers .slider-content .section-head-back {
    color: rgba(255, 255, 255, 0.1); }
  .slider-centers .slider-content h2 {
    color: #fff;
    left: 50%;
    transform: translateX(-50%); }
  .slider-centers .slider-content p {
    color: #fff;
    margin-top: 70px;
    margin-bottom: 50px; }
  .slider-centers .slider-content .main-button {
    display: inline-block;
    margin: 130px auto 0 auto; }

/*section-special-offer-2 */
.section-special-offer-2 {
  background-color: #1874cd !important;
  padding: 80px 0; }
  .section-special-offer-2 h3 {
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    position: relative;
    margin: 0; }
    .section-special-offer-2 h3:after {
      content: "";
      position: absolute;
      width: 16px;
      height: 32px;
      background-image: url("../img/arrow-divider-white.png");
      background-repeat: no-repeat;
      background-position: center center;
      top: 50%;
      right: -20px;
      transform: translate(0, -50%); }

.logo-transparent {
  display: block;
  float: right; }

/*section-testimonials */
.slider-testimonials {
  margin-top: 65px; }
  .slider-testimonials .arrow-next-red {
    bottom: -115px;
    right: 280px;
    z-index: 99; }
  .slider-testimonials .arrow-prev-red {
    bottom: -115px;
    right: 355px; }
  .slider-testimonials .slick-dots {
    position: absolute;
    bottom: -112.5px;
    left: 151px;
    margin-left: 8.33333%; }

.media {
  margin-left: 8.33333%; }

.media-left span {
  font-size: 18px;
  line-height: 28px;
  color: #000;
  text-transform: uppercase; }

.media-body {
  padding: 0 15px 0 40px; }

.section-feedback-page .media-body {
  text-align: justify;
}

.section-feedback-page .col-xs-12:last-child .media {
  border-bottom: none;
}
.section-feedback-page .col-xs-12 .media {
  border-bottom: 1px solid #d9d9d9;
}



/*section-form */
.section-form {
  text-align: center;
  height: auto;
  overflow: visible;
  padding: 150px 0 !important; }
  .section-form .section-head-box {
    margin: 0 auto; }
  .section-form .section-head-back {
    color: rgba(255, 255, 255, 0.1); }
  .section-form h2 {
    color: #fff;
    left: 50%;
    transform: translateX(-50%); }

.form-feedback {
  margin-top: 50px;
  height: auto;
  overflow: visible; }
  .form-feedback .main-button {
    margin: 30px auto 0 auto; }
  .form-feedback p {
    color: #fff;
    text-align: center; }
  .form-feedback .form-input {
    background-color: transparent;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.5s;
    padding-left: 20px;
    border-radius: 0;
    color: #fff; }
    .form-feedback .form-input:focus {
      outline: none; }
  .form-feedback .input-name {
    width: 100%;
    height: 60px; }
  .form-feedback .input-phone,
  .form-feedback .input-email {
    width: 100%;
    height: 60px; }
  .form-feedback .input-message {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 20px;
    resize: none; }
  .form-feedback .input-phone {
    border-right: 1px solid rgba(255, 255, 255, 0.3); }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
  transition: 0.5s; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #fff;
  opacity: 1;
  transition: 0.5s; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #fff;
  opacity: 1;
  transition: 0.5s; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholde {
  color: #fff;
  opacity: 1;
  transition: 0.5s; }

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0; }

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: 0; }

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  opacity: 0; }

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholde {
  copacity: 0; }

.form-feedback {
  margin-top: 50px; }
  .form-feedback .form-group-name {
    height: 60px;
    width: 100%; }

.form-feedback .form-group-message {
  height: 144px;
  width: 100%;
  clear: both; }

.form-feedback .form-group-email,
.form-feedback .form-group-phone {
  width: 50%;
  float: left;
  height: 60px; }

.form-feedback div {
  position: relative; }
.form-feedback label {
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 12px;
  color: #fff;
  font-weight: normal; }

/*footer */
footer {
  width: 100%;
  background-color: #fff;
  padding: 80px 0 60px 0; }
  footer p {
    margin: 30px 0 0 0;
    font-size: 14px;
    color: #000; }

.footer-links {
  text-align: left; }
  .footer-links h3 {
    font-size: 18px;
    line-height: 28px;
    color: #000;
    margin: 25px 0 0 0;
    padding-bottom: 25px;
    position: relative; }
    .footer-links h3:after {
      content: "";
      width: 160px;
      height: 1px;
      background-color: #d9d9d9;
      position: absolute;
      bottom: 0;
      left: 0; }

.social-buttons {
  text-align: center;
  padding-top: 30px;
  margin-top: 40px;
  border-top: 1px solid #d9d9d9; }

.copyrights {
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  text-align: center; }

.footer-grey {
  background-color: #f5f5f5; }

/*lists */
.section-about-us-page ul:not(.slider-page-nav),
.event-program-box ul:not(.slider-page-nav) {
  list-style-type: none; }
  .section-about-us-page ul:not(.slider-page-nav) li,
  .event-program-box ul:not(.slider-page-nav) li {
    font-size: 16px;
    line-height: 30px;
    position: relative;
    padding-left: 25px; }
    .section-about-us-page ul:not(.slider-page-nav) li:before,
    .event-program-box ul:not(.slider-page-nav) li:before {
      content: "";
      width: 6px;
      height: 6px;
      background-color: #1874cd;
      position: absolute;
      left: 0;
      top: 12px; }

.footer-links ul {
  padding: 0;
  margin: 15px 0 0 0; }
  .footer-links ul li {
    list-style-type: none; }
    .footer-links ul li a {
      color: #000;
      font-size: 14px;
      line-height: 30px; }

.social-buttons ul {
  padding: 0;
  margin: 0; }
  .social-buttons ul li {
    display: inline-block;
    position: relative;
    width: 55px;
    height: 55px;
    margin: 0 12.5px;
    border: 1px solid #d9d9d9;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer; }
  .social-buttons ul .facebook {
    background-image: url("../img/facebook.png"); }
  .social-buttons ul .google-plus {
    background-image: url("../img/google-plus.png"); }
  .social-buttons ul .vkontakte {
    background-image: url("../img/vk.png"); }

.list-filter-group .select-1,
.list-filter-group .select-2,
.list-filter-group .select-3 {
  display: block;
  width: 100%;
  height: 55px;
  margin: 25px auto 0 auto;
  border: 1px solid #d9d9d9;
  padding-left: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  background-image: url("../img/select-down-red.png");
  background-repeat: no-repeat;
  background-position: 95% 50%; }
  .list-filter-group .select-1:focus,
  .list-filter-group .select-2:focus,
  .list-filter-group .select-3:focus {
    outline: none; }
.list-filter-group .select-1 {
  max-width: 280px; }
.list-filter-group .select-2 {
  max-width: 380px; }
.list-filter-group .select-1,
.list-filter-group .select-1 option {
  font-size: 14px;
  line-height: 24px; }
.list-filter-group .select-3 {
  max-width: 180px; }
  @media (max-width: 992px) {
    .list-filter-group .select-3 {
      max-width: 280px; } }

.main-button {
  display: block;
  padding: 0 85px;
  line-height: 55px;
  text-transform: uppercase;
  margin-top: 60px;
  position: relative;
  transition: 0.5s; }
  .main-button:hover {
    color: #fff;
    text-decoration: none; }

.blue-button {
  background-color: #1874cd;
  color: #fff; }

.animate:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%; }
  .animate:after span {
    position: relative;
    z-index: 20; }

.animate:hover:after {
  content: "";
  animation: buttonAnim 0.5s ease; }

@keyframes buttonAnim {
  0% {
    transform: scale(0, 1);
    background-color: rgba(255, 255, 255, 0.8); }
  100% {
    transform: scale(1, 1);
    opacity: 1; }
}
.more-toggle,
.back-button {
  margin-top: 25px;
  padding: 0;
  display: block;
  cursor: pointer;
  text-align: left;
}
  .more-toggle span,
  .back-button span {
    font-size: 14px;
    color: #1874cd;
    text-transform: uppercase;
    line-height: 30px;
    padding: 0 30px;
    position: relative;
    transition: 0.5s;
    font-weight: bold; }

.back-button {
  margin-bottom: 25px;
  float: left; }
  @media (max-width: 768px) {
    .back-button {
      float: none;
      text-align: center;
      margin-left: auto;
      margin-right: auto; } }

.more-toggle > span:after,
.more-toggle > span:before,
.back-button > span:after,
.back-button > span:before {
  content: "";
  width: 23px;
  height: 12px;
  position: absolute;
  top: 50%;
  transition: 0.5s; }

.more-toggle > span:before {
  background-image: url("../img/arrow-toggle-before-blue.png");
  left: 0;
  transform: translate(0, -50%); }

.more-toggle > span:after {
  background-image: url("../img/arrow-toggle-after-blue.png");
  right: 0;
  transform: translate(0, -50%); }

.back-button > span:before {
  background-image: url("../img/arrow-back-before-blue.png");
  left: 0;
  transform: translate(0, -50%); }

.back-button > span:after {
  background-image: url("../img/arrow-toggle-before-blue.png");
  right: 0;
  transform: translate(0, -50%); }

.more-toggle:hover > span,
.back-button:hover > span {
  color: rgba(24, 116, 205, 0.15); }

.more-toggle:hover > span:before {
  left: 25%;
  transform: translate(50%, -50%); }

.more-toggle:hover > span:after {
  right: 50%;
  transform: translate(75%, -50%); }

.back-button:hover > span:before {
  left: 30%;
  transform: translate(50%, -50%); }

.back-button:hover > span:after {
  right: 50%;
  transform: translate(75%, -50%); }

.sendmail-page-section {
  position: relative;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .sendmail-page-section {
      margin-top: -90px; } }
  .sendmail-page-section img {
    width: 100%;
    height: auto;
    max-height: 100vh; }
    @media screen and (max-width: 768px) {
      .sendmail-page-section img {
        min-height: 600px;
        object-fit: cover; } }
    @media screen and (max-width: 400px) {
      .sendmail-page-section img {
        min-height: 500px; } }
  .sendmail-page-section .content-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    width: 100%; }
  .sendmail-page-section h1 {
    font-size: 70px;
    line-height: 1.4;
    text-transform: uppercase;
    color: #fff; }
    @media screen and (max-width: 1200px) {
      .sendmail-page-section h1 {
        font-size: 60px; } }
    @media screen and (max-width: 400px) {
      .sendmail-page-section h1 {
        font-size: 24px; } }
  .sendmail-page-section p {
    font-size: 26px;
    line-height: 1.4;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px; }
    @media screen and (max-width: 1200px) {
      .sendmail-page-section p {
        font-size: 16px; } }
    @media screen and (max-width: 400px) {
      .sendmail-page-section p {
        font-size: 16px; } }
  .sendmail-page-section .main-button {
    max-width: 400px;
    display: inline-block;
    margin-top: 30px; }
    @media screen and (max-width: 400px) {
      .sendmail-page-section .main-button {
        padding: 0 20px; } }

.section-item-list-1 {
  padding: 30px 0 100px 0; }

.list-item-box-1 {
  max-width: 280px;
  width: 100%;
  margin: 45px auto 0 auto; }
  .list-item-box-1 .divider {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0; }
  .list-item-box-1 .inner-box {
    position: relative;
    min-height: 135px; }
    .list-item-box-1 .inner-box .item-title {
      background-color: #fff;
      position: absolute;
      height: 60px;
      top: 0;
      left: 0;
      right: 0;
      cursor: pointer;
      padding: 15px 10px;
      transition: 0.1s;
      overflow: hidden;
      text-align: center; }
      .list-item-box-1 .inner-box .item-title h3 {
        font-size: 16px;
        line-height: 24px;
        color: #000;
        text-align: center;
        font-weight: bold;
        margin: 0;
        text-transform: uppercase; }
    .list-item-box-1 .inner-box .item-title:hover {
      z-index: 99;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
      height: auto;
      min-height: 60px;
      overflow: visible; }
      .list-item-box-1 .inner-box .item-title:hover h3 {
        overflow: visible;
        white-space: normal;
        color: #1874cd; }
  .list-item-box-1 .item-descriptions {
    position: absolute;
    top: 76px;
    left: 0;
    right: 0;
    height: 63px;
    overflow: hidden;
    padding: 15px 10px; }
    .list-item-box-1 .item-descriptions p {
      font-size: 14px;
      line-height: 24px;
      color: #000;
      text-align: center;
      margin: 0; }

.divider {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9; }

.section-item-list-1 .pagination-wrap {
  margin-top: 50px; }

.pagination-wrap {
  border-top: 1px solid #d9d9d9; }
  .pagination-wrap nav {
    text-align: right; }
    @media (max-width: 768px) {
      .pagination-wrap nav {
        text-align: center; } }

.pagination {
  margin: -1px 0 0 0; }

.pagination li:first-child a,
.pagination li:last-child a {
  color: transparent; }

.pagination li:first-child a,
.pagination li:last-child a {
  position: relative; }

.pagination li:first-child a:after,
.pagination li:last-child a:after {
  content: "";
  width: 8px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.pagination li:first-child a:after {
  background-image: url("../img/pagination-left-black.png"); }

.pagination li:last-child a:after {
  background-image: url("../img/pagination-right-black.png"); }

.pagination > li > a {
  padding: 16.5px 21.5px;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  transition: 0.5s; }

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li.active a,
.pagination > li.active a:hover {
  background-color: transparent;
  border: 1px solid #ff0000;
  outline: none;
  color: #000; }

.pagination > li > a:hover span {
  color: transparent; }

.pagination > li.active a {
  color: #ff0000; }

.pagination > li > a:focus span {
  color: transparent; }

.section-poster-intro {
  background-position: center top;
  background-size: cover;
  margin-top: -120px; }
  .section-poster-intro .inner-box {
    margin-top: 310px;
    margin-bottom: 125px; }
    @media (max-width: 1200px) {
      .section-poster-intro .inner-box {
        margin-top: 250px;
        margin-bottom: 250px;
        text-align: center; } }
    .section-poster-intro .inner-box .section-head-back {
      color: rgba(255, 255, 255, 0.1); }
    .section-poster-intro .inner-box p {
      color: #fff; }
      @media (max-width: 1200px) {
        .section-poster-intro .inner-box p {
          font-size: 38px;
          line-height: 42px; } }
      @media (max-width: 600px) {
        .section-poster-intro .inner-box p {
          position: relative; } }
      @media (max-width: 1200px) {
        .section-poster-intro .inner-box p {
          text-align: center;
          width: 100%; } }

.article-title h1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase; }
  @media (max-width: 992px) {
    .article-title h1 {
      text-align: center; } }

.section-item-page {
  padding: 45px 0 100px 0; }
  .section-item-page img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
    max-width: 280px;
    margin-bottom: 25px; }
  .section-item-page h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold; }
  .section-item-page .divider {
    margin: 20px 0; }
  .section-item-page p {
    margin: 5px 0; }

  .section-item-page ul,
  .section-about-us-page ul,
  .section-center-page ul {
    list-style-type: none; }
  .section-item-page ul li,
  .section-about-us-page ul li,
  .section-center-page ul li {
    font-size: 16px;
    line-height: 30px;
    position: relative;
    padding-left: 25px; }
  .section-item-page ul li:before,
  .section-about-us-page ul li:before,
  .section-center-page ul li:before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #1874cd;
    position: absolute;
    left: 0;
    top: 12px; }

  .section-item-page .contact-wrap-hidden {
    overflow: hidden;
    height: 80px;
    border-bottom: 1px solid #d9d9d9; }
  .section-item-page .contact-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    justify-content: flex-start; }
    @media (max-width: 600px) {
      .section-item-page .contact-wrap {
        display: block; } }
    .section-item-page .contact-wrap .contact-box {
      flex: 0 0 33.33333%;
      padding-left: 30px;
      height: auto;
      position: relative;
      margin-bottom: 25px; }
      @media (max-width: 1200px) {
        .section-item-page .contact-wrap .contact-box {
          flex: 0 0 50%; } }
      .section-item-page .contact-wrap .contact-box:before {
        content: "";
        position: absolute;
        left: 0; }
      .section-item-page .contact-wrap .contact-box a {
        display: block;
        font-size: 16px;
        line-height: 30px;
        color: #000; }
    .section-item-page .contact-wrap .phone-box:before {
      background-image: url("../img/item-page-phone-red.png");
      width: 16px;
      height: 17px;
      top: 6.5px; }
    .section-item-page .contact-wrap .email-box:before {
      background-image: url("../img/item-page-envelope-red.png");
      width: 22px;
      height: 17px;
      top: 6.5px; }
    .section-item-page .contact-wrap .skype-box:before {
      background-image: url("../img/item-page-skype-red.png");
      width: 18px;
      height: 18px;
      top: 6px; }
    .section-item-page .contact-wrap .facebook-box:before {
      background-image: url("../img/item-page-facebook-red.png");
      width: 18px;
      height: 18px;
      top: 6px; }
    .section-item-page .contact-wrap .whatsapp-box:before {
      background-image: url("../img/item-page-whatsapp-red.png");
      width: 20px;
      height: 20px;
      top: 5px; }
    .section-item-page .contact-wrap .google-plus-box:before {
      background-image: url("../img/item-page-google-plus-red.png");
      width: 24px;
      height: 16px;
      top: 7px; }
    .section-item-page .contact-wrap .twitter-box:before {
      background-image: url("../img/item-page-twitter-red.png");
      width: 18px;
      height: 16px;
      top: 7px; }
    .section-item-page .contact-wrap .viber-box:before {
      background-image: url("../img/item-page-viber-red.png");
      width: 22px;
      height: 22px;
      top: 4px; }
  .section-item-page .more-button {
    width: 57px;
    height: 57px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    margin: 0 auto;
    display: none; }
  .section-item-page .button-down {
    background-image: url("../img/select-down-red.png"); }
  .section-item-page .button-up {
    background-image: url("../img/select-up-red.png"); }

.tab-description {
  padding: 25px 0 15px 0; }

.section-feedback-page {
  padding: 50px 0 100px 0; }
  .section-feedback-page .flipCard {
    margin: 10px auto;
    max-width: 280px; }
  .section-feedback-page .flipCard .card .face {
    box-shadow: none; }
  .section-feedback-page .button-flip-front {
    background-image: url(../img/flip-icon-front-blue.png); }
  .section-feedback-page .button-flip-back {
    background-image: url(../img/flip-icon-back-blue.png); }
  .section-feedback-page .pagination-wrap {
    margin-top: 10px; }
  .section-feedback-page .media {
    margin-bottom: 40px;
    position: relative;
    overflow: visible; }
    @media (max-width: 768px) {
      .section-feedback-page .media:before {
        content: "";
        width: 50%;
        height: 1px;
        background-color: #d9d9d9;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%); } }
  @media (max-width: 768px) {
    .section-feedback-page .media:last-child:before {
      content: none; } }
	  
	    .section-feedback-page .media-left {
    min-width: 200px; }
    .section-feedback-page .media-left span {
      display: block; }


.page-nav-wrap {
  margin-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
  padding-right: 109px; }

.slider-page-nav li {
  display: inline-block; }

  .slider-page-nav li:before {
    content: none!important;
    outline: none; }

  .slider-page-nav li a {
    padding: 15px 20px;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    display: block;
    cursor: pointer;
    text-align: center; }
    .slider-page-nav li a:focus, .slider-page-nav li a:active {
      text-decoration: none;
      outline: none; }
    @media (max-width: 550px) {
      .slider-page-nav li a {
        margin-right: -54.5px; } }
.slider-page-nav .active a {
  color: #ff0000; }
.slider-page-nav .arrow-prev-red {
  right: -56px;
  bottom: -1px; }
.slider-page-nav .arrow-next-red {
  right: -109px;
  bottom: -1px; }

.section-photo-testimonials .list-item-box-2 {
  width: 280px;
  height: 420px;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  cursor: pointer; }
  .section-photo-testimonials .list-item-box-2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; }

.modal {
  z-index: 9990; }

.modal-backdrop.in {
  z-index: 9980; }

.modal-header {
  border-bottom: none; }

.modal-body img {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

.modal-content {
  border-radius: 0; }

.modal-dialog {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 710px; }

button.close {
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: 0.85; }
  button.close span {
    color: #fff;
    font-weight: normal;
    font-size: 20px;
    line-height: 1; }

.section-feedback-page .video-box {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  margin-bottom: 40px; }
  .section-feedback-page .video-box .video-wrap {
    padding-bottom: 73.6%;
    position: relative; }
    .section-feedback-page .video-box .video-wrap .overlay-box {
      background-color: transparent;
      cursor: pointer; }
  .section-feedback-page .video-box .video-title {
    margin: 22px 0;
    height: 48px;
    overflow: hidden;
    background-color: #fff;
    text-align: center; }
    .section-feedback-page .video-box .video-title h3 {
      font-size: 16px;
      line-height: 24px;
      color: #000;
      text-align: center;
      font-weight: bold;
      margin: 0;
      text-transform: uppercase; }
  .section-feedback-page .video-box .date-box {
    padding-left: 30px;
    margin: 20px 0;
    position: relative;
    display: inline-block; }
    .section-feedback-page .video-box .date-box:before {
      content: "";
      width: 16px;
      height: 17px;
      position: absolute;
      left: 0;
      top: 50%;
      background-image: url("../img/calendar-icon.png");
      transform: translateY(-50%); }
    .section-feedback-page .video-box .date-box span {
      font-size: 14px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.5); }

iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

#modalVideo .modal-body-video {
  position: relative;
  padding-bottom: 73.6%; }

.section-media-articles .inner-wrap {
  margin-bottom: 50px; }
  @media (max-width: 992px) {
    .section-media-articles .inner-wrap {
      max-width: 600px;
      margin: 0 auto 50px auto; } }
  .section-media-articles .inner-wrap img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; }
  .section-media-articles .inner-wrap .divider {
    margin: 20px 0; }

.article-wrap h3 {
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 25px;
  margin: 0 0 25px 0;
  border-bottom: 1px solid #d9d9d9; }
  @media (max-width: 992px) {
    .article-wrap h3 {
      margin: 25px 0; } }
.article-wrap a {
  color: #1874cd; }
.article-wrap .more-toggle {
  float: left; }

.article-info-box {
  float: left; }
  .article-info-box .date,
  .article-info-box .name {
    padding-left: 25px;
    float: left;
    position: relative;
    margin-right: 30px; }
    .article-info-box .date span,
    .article-info-box .name span {
      font-size: 14px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.5); }
  .article-info-box .date:before {
    content: "";
    width: 16px;
    height: 17px;
    background-image: url("../img/calendar-icon.png");
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); }
  .article-info-box .name:before {
    content: "";
    width: 14px;
    height: 15px;
    background-image: url("../img/user-icon.png");
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); }

.article-description {
  float: left;
  margin-top: 15px; }
  .article-description p {
    font-size: 14px;
    line-height: 24px;
    color: #000; }

.section-about-us-page,
.section-center-page {
  padding: 100px 0; }
  .section-about-us-page a,
  .section-center-page a {
    color: #1874cd; }
  .section-about-us-page h1,
  .section-about-us-page h2,
  .section-center-page h1,
  .section-center-page h2 {
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
    color: #000;
    text-align: left; }
  .section-about-us-page h1,
  .section-center-page h1 {
    text-transform: uppercase;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    padding-bottom: 25px;
    margin: 0 0 25px 0;
    border-bottom: 1px solid #d9d9d9; }
  .section-about-us-page .image-wrap,
  .section-center-page .image-wrap {
    margin-top: 40px; }
    .section-about-us-page .image-wrap img,
    .section-center-page .image-wrap img {
      width: 100%;
      height: auto;
      max-width: none;
      margin-bottom: 0; }
  .section-about-us-page .inner-wrap img,
  .section-center-page .inner-wrap img {
    max-width: none;
    margin-bottom: 0; }
  .section-about-us-page .video-wrap,
  .section-center-page .video-wrap {
    margin-top: 40px;
    padding-bottom: 50%;
    position: relative; }
    .section-about-us-page .video-wrap iframe,
    .section-center-page .video-wrap iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0; }
.section-center-page .main-button {
  float: left; }

.slider-one-item {
  margin-top: 40px; }
  .slider-one-item .arrow-prev-blue,
  .slider-one-item .arrow-next-blue {
    width: 55px;
    height: 55px;
    background-color: rgba(24, 116, 205, 0.75);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 99;
    position: absolute;
    bottom: 0;
    transition: 0.5s;
    cursor: pointer; }
    .slider-one-item .arrow-prev-blue:hover,
    .slider-one-item .arrow-next-blue:hover {
      background-color: #1874cd; }
  .slider-one-item .arrow-next-blue {
    background-image: url("../img/arrow-next-white.png");
    right: 0; }
  .slider-one-item .arrow-prev-blue {
    background-image: url("../img/arrow-prev-white.png");
    right: 55px; }

.slider-one-item.one-item-sm {
  border: 1px solid #d9d9d9; }
  .slider-one-item.one-item-sm .inner-wrap {
    width: 66.6666%;
    margin-left: 16.6666%; }
    .slider-one-item.one-item-sm .inner-wrap img {
      width: 100%;
      height: auto; }
  .slider-one-item.one-item-sm .arrow-prev-blue,
  .slider-one-item.one-item-sm .arrow-next-blue {
    background-color: #1874cd; }
    .slider-one-item.one-item-sm .arrow-prev-blue:hover,
    .slider-one-item.one-item-sm .arrow-next-blue:hover {
      background-color: #1a62a7; }

.section-item-list-2 {
  padding: 30px 0 100px 0; }
  .section-item-list-2 img {
    display: block;
    width: 100%;
    height: auto; }
  .section-item-list-2 .pagination-wrap {
    margin-top: 50px; }
  .section-item-list-2 .divider {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0; }

.list-item-box-2 {
  max-width: 380px;
  width: 100%;
  margin: 45px auto 0 auto;
  position: relative; }
  .list-item-box-2 .inner-box {
    position: relative;
    min-height: 175px; }
    .list-item-box-2 .inner-box .item-title {
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      cursor: pointer;
      padding: 15px 10px;
      transition: 0.1s;
      overflow: visible; }
      .list-item-box-2 .inner-box .item-title h3 {
        font-size: 16px;
        line-height: 30px;
        color: #000;
        margin: 0;
        text-transform: uppercase;
        font-weight: bold; }
    .list-item-box-2 .inner-box .item-title:hover {
      z-index: 99;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15); }
      .list-item-box-2 .inner-box .item-title:hover h3 {
        overflow: visible;
        white-space: normal;
        color: #1874cd; }
  .list-item-box-2 .inner-box .item-address {
    position: absolute;
    top: 61px;
    left: 0;
    right: 0;
    padding: 15px 10px 15px 30px;
    background-color: #fff;
    overflow: visible;
    cursor: pointer; }
    .list-item-box-2 .inner-box .item-address:before {
      content: "";
      width: 11px;
      height: 15px;
      position: absolute;
      top: 15.5px;
      left: 9.5px;
      background-image: url("../img/address-icon-red.png"); }
    .list-item-box-2 .inner-box .item-address span {
      font-size: 14px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.5);
      display: block; }
  .list-item-box-2 .inner-box .item-address:hover {
    z-index: 99;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15); }
    .list-item-box-2 .inner-box .item-address:hover span {
      overflow: visible;
      white-space: normal;
      display: inline; }
  .list-item-box-2 .inner-box .item-descriptions {
    position: absolute;
    top: 115px;
    left: 0;
    right: 0;
    height: 48px;
    overflow: hidden; }
    .list-item-box-2 .inner-box .item-descriptions p {
      font-size: 14px;
      line-height: 28px;
      color: #000; }

.list-item-box-2 .inner-box .item-title h3,
.list-item-box-2 .inner-box .item-address span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.event-date-label {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  text-align: center;
  width: 125px;
  height: 75px;
  background-color: rgba(24, 116, 205, 0.75);
  transition: 0.5s;
  cursor: pointer; }
  .event-date-label:hover {
    background-color: #1874cd; }
  .event-date-label span {
    font-size: 16px;
    line-height: 75px;
    color: #fff; }

@media (max-width: 992px) {
  .event-item-wrap {
    max-width: 600px;
    margin: 0 auto; } }
.event-item-wrap img {
  width: 100%;
  max-width: none;
  margin: 0 auto 30px auto; }

.event-caption-box {
  padding: 40px 0 40px 40px; }
  @media (max-width: 1200px) {
    .event-caption-box {
      padding: 0 0 40px 40px; } }
  @media (max-width: 1200px) and (max-width: 992px) {
    .event-caption-box {
      padding: 0; } }

  .event-caption-box h1 {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 25px 0; }
    @media (max-width: 992px) {
      .event-caption-box h1 {
        text-align: center; } }
  @media (max-width: 992px) {
    .event-caption-box p {
      text-align: center; } }
  .event-caption-box .info-box {
    margin: 20px 0 0 0;
    padding: 25px 0;
    border-top: 1px solid #d9d9d9; }
    .event-caption-box .info-box .address-box,
    .event-caption-box .info-box .date-box,
    .event-caption-box .info-box .time-box {
      position: relative;
      padding-left: 30px; }
      .event-caption-box .info-box .address-box:before,
      .event-caption-box .info-box .date-box:before,
      .event-caption-box .info-box .time-box:before {
        content: "";
        position: absolute;
        left: 0; }
      .event-caption-box .info-box .address-box span,
      .event-caption-box .info-box .date-box span,
      .event-caption-box .info-box .time-box span {
        font-size: 14px;
        line-height: 24px;
        color: #000; }
    .event-caption-box .info-box .address-box:before {
      width: 11px;
      height: 15px;
      background-image: url("../img/address-icon-red.png");
      top: 2.5px; }
    .event-caption-box .info-box .date-box:before {
      width: 16px;
      height: 17px;
      background-image: url("../img/calendar-icon.png");
      top: 3.5px; }
    .event-caption-box .info-box .time-box:before {
      width: 15px;
      height: 15px;
      background-image: url("../img/clock-icon-red.png");
      top: 4.5px; }

.past-event-label {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #f3f3f3; }
  .past-event-label span {
    font-size: 16px;
    line-height: 65px;
    color: #1874cd;
    text-transform: uppercase;
    position: relative;
    padding-left: 55px;
    font-weight: bold; }
    @media (max-width: 500px) {
      .past-event-label span {
        font-size: 14px;
        padding-left: 45px; } }
    .past-event-label span:before {
      content: "";
      width: 36px;
      height: 33px;
      background-image: url("../img/clock-pass-icon.png");
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%); }

.event-program-wrap {
  margin-top: 100px; }
  @media (max-width: 992px) {
    .event-program-wrap {
      max-width: 600px;
      margin: 100px auto 0 auto; } }
  .event-program-wrap img {
    width: 100%;
    height: auto;
    max-width: none; }
  .event-program-wrap .video-box {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    margin-bottom: 30px; }
    .event-program-wrap .video-box .video-wrap {
      padding-bottom: 73.6%;
      position: relative; }
      .event-program-wrap .video-box .video-wrap .overlay-box {
        background-color: transparent;
        cursor: pointer; }

.event-program-box {
  padding-right: 40px; }
  @media (max-width: 992px) {
    .event-program-box {
      padding: 0; } }
  .event-program-box h2 {
    text-transform: uppercase;
    padding-bottom: 15px;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #d9d9d9;
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
    color: #000; }
  .event-program-box h3 {
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
    color: #000;
    text-align: left;
    color: #000; }

.section-center-page .arrow-prev-red,
.section-center-page .arrow-next-red {
  display: none !important; }
.section-center-page .slick-dots li button {
  background-color: rgba(255, 255, 255, 0.3); }
.section-center-page .slick-dots li.slick-active button {
  background-color: #fff; }

.section-center-contacts {
  padding: 90px 0 130px 0;
  background-color: #1874cd; }
  @media (max-width: 768px) {
    .section-center-contacts {
      padding: 80px 0; } }
  .section-center-contacts .section-head-box {
    text-align: right;
    margin-bottom: 50px; }
    @media (max-width: 992px) {
      .section-center-contacts .section-head-box {
        text-align: center; } }
    .section-center-contacts .section-head-box .section-head-back {
      color: rgba(255, 255, 255, 0.1); }
      @media (max-width: 992px) {
        .section-center-contacts .section-head-box .section-head-back {
          font-size: 56px;
          line-height: 56px; } }
      @media (max-width: 600px) {
        .section-center-contacts .section-head-box .section-head-back {
          display: none; } }
    .section-center-contacts .section-head-box .section-head-title {
      color: #fff;
      right: 5px; }
      @media (max-width: 992px) {
        .section-center-contacts .section-head-box .section-head-title {
          left: 50%;
          transform: translateX(-50%);
          width: 100%; } }
  .section-center-contacts .address-box,
  .section-center-contacts .website-box,
  .section-center-contacts .email-box,
  .section-center-contacts .phone-box,
  .section-center-contacts .mode-box,
  .section-center-contacts .contact-box {
    padding-left: 30px;
    margin: 10px 0;
    position: relative; }
    @media (max-width: 1200px) {
      .section-center-contacts .address-box,
      .section-center-contacts .website-box,
      .section-center-contacts .email-box,
      .section-center-contacts .phone-box,
      .section-center-contacts .mode-box,
      .section-center-contacts .contact-box {
        transform: translateX(10%); } }
    @media (max-width: 768px) {
      .section-center-contacts .address-box,
      .section-center-contacts .website-box,
      .section-center-contacts .email-box,
      .section-center-contacts .phone-box,
      .section-center-contacts .mode-box,
      .section-center-contacts .contact-box {
        transform: translateX(0);
      }
    }
    @media (max-width: 600px) {
      .section-center-contacts .address-box,
      .section-center-contacts .website-box,
      .section-center-contacts .email-box,
      .section-center-contacts .phone-box,
      .section-center-contacts .mode-box,
      .section-center-contacts .contact-box {
        transform: translateX(0); } }
    @media (max-width: 450px) {
      .section-center-contacts .address-box,
      .section-center-contacts .website-box,
      .section-center-contacts .email-box,
      .section-center-contacts .phone-box,
      .section-center-contacts .mode-box,
      .section-center-contacts .contact-box {
        transform: translateX(0); } }
    @media (max-width: 400px) {
      .section-center-contacts .address-box,
      .section-center-contacts .website-box,
      .section-center-contacts .email-box,
      .section-center-contacts .phone-box,
      .section-center-contacts .mode-box,
      .section-center-contacts .contact-box {
        transform: translateX(0); } }
    .section-center-contacts .address-box a,
    .section-center-contacts .address-box span,
    .section-center-contacts .website-box a,
    .section-center-contacts .website-box span,
    .section-center-contacts .email-box a,
    .section-center-contacts .email-box span,
    .section-center-contacts .phone-box a,
    .section-center-contacts .phone-box span,
    .section-center-contacts .mode-box a,
    .section-center-contacts .mode-box span,
    .section-center-contacts .contact-box a,
    .section-center-contacts .contact-box span {
      color: #fff;
      display: block;
      font-size: 16px;
      line-height: 24px; }
  .section-center-contacts .address-box:before,
  .section-center-contacts .website-box:before,
  .section-center-contacts .email-box:before,
  .section-center-contacts .phone-box:before,
  .section-center-contacts .mode-box:before,
  .section-center-contacts .contact-box:before {
    content: "";
    position: absolute;
    left: 0; }
  .section-center-contacts .address-box:before {
    width: 11px;
    height: 15px;
    top: 4.5px;
    background-image: url("../img/address-icon-white.png"); }
  .section-center-contacts .website-box:before {
    width: 15px;
    height: 15px;
    top: 4.5px;
    background-image: url("../img/website-icon-white.png"); }
  .section-center-contacts .email-box:before {
    width: 14px;
    height: 14px;
    top: 5px;
    background-image: url("../img/email-icon-white.png"); }
  .section-center-contacts .phone-box:before {
    width: 14px;
    height: 14px;
    top: 5px;
    background-image: url("../img/phone-icon-white.png"); }
  .section-center-contacts .email-box:before {
    width: 17px;
    height: 14px;
    top: 5px;
    background-image: url("../img/email-icon-white.png"); }
  .section-center-contacts .mode-box:before {
    width: 15px;
    height: 15px;
    top: 4.5px;
    background-image: url("../img/clock-icon-white.png"); }
  .section-center-contacts .contact-box.twitter:before {
    width: 14px;
    height: 13px;
    top: 5.5px;
    background-image: url("../img/twitter-icon-white.png"); }
  .section-center-contacts .contact-box.facebook:before {
    width: 15px;
    height: 15px;
    top: 4.5px;
    background-image: url("../img/facebook-icon-white.png"); }
  .section-center-contacts .map-container {
    position: relative;
    padding-top: 50%;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px; }
    @media (max-width: 768px) {
      .section-center-contacts .map-container {
        padding-top: 100%; } }
  .section-center-contacts #map-canvas-center {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; }

.section-our-contacts {
  padding: 30px 0 100px 0; }
  .section-our-contacts .map-container {
    position: relative;
    padding-top: 38%;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px; }
    @media (max-width: 768px) {
      .section-our-contacts .map-container {
        padding-top: 100%; } }
  .section-our-contacts #map-canvas-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; }

.no-padding {
  padding-left: 0;
  padding-right: 0; }

.center-item-wrap {
  padding-top: 40px; }
  .center-item-wrap h3 {
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    color: #000; }
    @media (max-width: 1200px) {
      .center-item-wrap h3 {
        text-align: center; } }
  .center-item-wrap .main-button {
    margin-top: 0;
    width: 280px;
    float: right;
    padding: 0 20px;
    text-align: center; }
    @media (max-width: 1200px) {
      .center-item-wrap .main-button {
        margin: 30px auto 0 auto;
        float: none; } }
  .center-item-wrap .divider {
    margin: 30px 0; }
  .center-item-wrap .address-box,
  .center-item-wrap .website-box,
  .center-item-wrap .phone-box,
  .center-item-wrap .email-box,
  .center-item-wrap .mode-box,
  .center-item-wrap .contact-box {
    padding-left: 30px;
    margin: 10px 0;
    position: relative; }
    .center-item-wrap .address-box:before,
    .center-item-wrap .website-box:before,
    .center-item-wrap .phone-box:before,
    .center-item-wrap .email-box:before,
    .center-item-wrap .mode-box:before,
    .center-item-wrap .contact-box:before {
      content: "";
      position: absolute;
      left: 0; }
    @media (max-width: 1200px) {
      .center-item-wrap .address-box,
      .center-item-wrap .website-box,
      .center-item-wrap .phone-box,
      .center-item-wrap .email-box,
      .center-item-wrap .mode-box,
      .center-item-wrap .contact-box {
        transform: translateX(10%);
      }
    }
    @media (max-width: 768px) {
      .center-item-wrap .address-box,
      .center-item-wrap .website-box,
      .center-item-wrap .phone-box,
      .center-item-wrap .email-box,
      .center-item-wrap .mode-box,
      .center-item-wrap .contact-box {
        transform: translateX(0);
      }
    }
    @media (max-width: 600px) {
      .center-item-wrap .address-box,
      .center-item-wrap .website-box,
      .center-item-wrap .phone-box,
      .center-item-wrap .email-box,
      .center-item-wrap .mode-box,
      .center-item-wrap .contact-box {
        transform: translateX(0);
      }
    }
    @media (max-width: 450px) {
      .center-item-wrap .address-box,
      .center-item-wrap .website-box,
      .center-item-wrap .phone-box,
      .center-item-wrap .email-box,
      .center-item-wrap .mode-box,
      .center-item-wrap .contact-box {
        transform: translateX(0); } }
    @media (max-width: 400px) {
      .center-item-wrap .address-box,
      .center-item-wrap .website-box,
      .center-item-wrap .phone-box,
      .center-item-wrap .email-box,
      .center-item-wrap .mode-box,
      .center-item-wrap .contact-box {
        transform: translateX(0); } }
    .center-item-wrap .address-box a,
    .center-item-wrap .address-box span,
    .center-item-wrap .website-box a,
    .center-item-wrap .website-box span,
    .center-item-wrap .phone-box a,
    .center-item-wrap .phone-box span,
    .center-item-wrap .email-box a,
    .center-item-wrap .email-box span,
    .center-item-wrap .mode-box a,
    .center-item-wrap .mode-box span,
    .center-item-wrap .contact-box a,
    .center-item-wrap .contact-box span {
      color: #000;
      display: block;
      font-size: 16px;
      line-height: 24px; }
  .center-item-wrap .address-box:before {
    width: 11px;
    height: 15px;
    top: 4.5px;
    background-image: url("../img/address-icon-red.png"); }
  .center-item-wrap .website-box:before {
    width: 15px;
    height: 15px;
    top: 4.5px;
    background-image: url("../img/website-icon-red.png"); }
  .center-item-wrap .phone-box:before {
    width: 16px;
    height: 17px;
    top: 3.5px;
    background-image: url("../img/item-page-phone-red.png"); }
  .center-item-wrap .email-box:before {
    width: 17px;
    height: 14px;
    top: 3.5px;
    background-image: url("../img/email-icon-red.png");
    background-size: cover; }
  .center-item-wrap .mode-box:before {
    width: 15px;
    height: 15px;
    top: 4.5px;
    background-image: url("../img/clock-icon-red.png"); }
  .center-item-wrap .contact-box.twitter:before {
    width: 14px;
    height: 13px;
    top: 5.5px;
    background-image: url("../img/twitter-icon-red.png"); }
  .center-item-wrap .contact-box.facebook:before {
    width: 17px;
    height: 17px;
    top: 3.5px;
    background-image: url("../img/facebook-icon-red.png"); }

.section-gallery-page {
  padding: 50px 0 100px 0; }
  .section-gallery-page .list-filter-group {
    margin-bottom: 15px; }

.lightbox-wrap a {
  display: block; }
.lightbox-wrap img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }
.lightbox-wrap .list-item-box-3 {
  position: relative;
  max-width: 380px;
  margin: 0 auto 20px auto; }
  .lightbox-wrap .list-item-box-3 .info-label {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: rgba(24, 116, 205, 0.75);
    background-image: url(../img/info-icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    z-index: 99;
    cursor: pointer; }
  .lightbox-wrap .list-item-box-3 .gallery-item-description {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(24, 116, 205, 0.75);
    z-index: 100;
    display: none; }
    .lightbox-wrap .list-item-box-3 .gallery-item-description .item-close-button {
      width: 75px;
      height: 75px;
      position: absolute;
      top: 0;
      right: 0;
      background-image: url("../img/info-close-icon.png");
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 101;
      cursor: pointer; }
    .lightbox-wrap .list-item-box-3 .gallery-item-description .inner-wrap {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      padding: 30px;
      text-align: center; }
    .lightbox-wrap .list-item-box-3 .gallery-item-description .item-title {
      height: 48px;
      overflow: hidden; }
      .lightbox-wrap .list-item-box-3 .gallery-item-description .item-title h3 {
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        margin: 0 0 20px 0; }
    .lightbox-wrap .list-item-box-3 .gallery-item-description .item-caption {
      max-height: 120px;
      overflow: hidden; }
      .lightbox-wrap .list-item-box-3 .gallery-item-description .item-caption p {
        font-size: 14px;
        line-height: 24px;
        color: #fff; }
    .lightbox-wrap .list-item-box-3 .gallery-item-description .item-address,
    .lightbox-wrap .list-item-box-3 .gallery-item-description .item-date {
      position: relative;
      padding-left: 30px;
      display: inline-block; }
      .lightbox-wrap .list-item-box-3 .gallery-item-description .item-address span,
      .lightbox-wrap .list-item-box-3 .gallery-item-description .item-date span {
        font-size: 14px;
        line-height: 24px;
        color: #fff; }
    .lightbox-wrap .list-item-box-3 .gallery-item-description .item-address:before {
      content: "";
      width: 11px;
      height: 15px;
      background-image: url("../img/map-icon-white.png");
      position: absolute;
      top: 4.5px;
      left: 0; }
    .lightbox-wrap .list-item-box-3 .gallery-item-description .item-date:before {
      content: "";
      width: 16px;
      height: 17px;
      background-image: url("../img/calendar-icon-white.png");
      position: absolute;
      top: 4px;
      left: 0; }
    .lightbox-wrap .list-item-box-3 .gallery-item-description .divider {
      background-color: #fff;
      margin: 10px 0; }

.section-price-page {
  padding: 50px 0 100px 0; }
  .section-price-page .inner-wrap {
    min-height: 450px;
    height: auto;
    max-width: 280px;
    width: 100%;
    margin: 0 auto 20px auto;
    position: relative;
    text-align: center;
    border: 1px solid #d9d9d9;
    background-color: #fff; }
    .section-price-page .inner-wrap .price-title {
      width: 100%;
      height: 75px;
      background-color: #1874cd;
      position: relative;
      top: 0;
      left: 0; }
      .section-price-page .inner-wrap .price-title h3 {
        font-size: 24px;
        line-height: 75px;
        text-transform: uppercase;
        color: #fff;
        margin: 0; }
    .section-price-page .inner-wrap .price-info {
      width: 100%;
      height: auto;
      position: relative;
      top: 0;
      left: 0;
      padding: 20px; }
      .section-price-page .inner-wrap .price-info:after {
        content: "";
        width: 240px;
        height: 1px;
        background-color: #d9d9d9;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); }
      .section-price-page .inner-wrap .price-info .price {
        font-size: 24px;
        line-height: 28px;
        color: #000; }
      .section-price-page .inner-wrap .price-info .counter {
        display: inline-block;
        padding-left: 30px;
        position: relative;
        margin-top: 10px; }
        .section-price-page .inner-wrap .price-info .counter:before {
          content: "";
          width: 14px;
          height: 15px;
          background-image: url("../img/user-icon.png");
          position: absolute;
          top: 4.5px;
          left: 0; }
        .section-price-page .inner-wrap .price-info .counter span {
          font-size: 14px;
          line-height: 24px;
          color: rgba(0, 0, 0, 0.5); }
    .section-price-page .inner-wrap .price-description {
      position: relative;
      width: 100%;
      padding: 20px;
      max-height: 140px;
      overflow: hidden; }
      .section-price-page .inner-wrap .price-description ul {
        list-style-type: none; }
    .section-price-page .inner-wrap .show-more {
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      bottom: 75px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../img/select-down-red.png"); }
    .section-price-page .inner-wrap .more-toggle {
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%; }
    .section-price-page .inner-wrap .more-toggle:hover > span:before {
      left: 32%;
      transform: translate(50%, -50%); }

.section-price-page .price-title,
#modalPrice .price-title {
  width: 100%;
  height: 75px;
  background-color: #1874cd;
  position: relative;
  top: 0;
  left: 0; }
  .section-price-page .price-title h3,
  #modalPrice .price-title h3 {
    font-size: 24px;
    line-height: 75px;
    text-transform: uppercase;
    color: #fff;
    margin: 0; }
.section-price-page .price-info,
#modalPrice .price-info {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  padding: 20px; }
  .section-price-page .price-info:after,
  #modalPrice .price-info:after {
    content: "";
    width: 240px;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
  .section-price-page .price-info .price,
  #modalPrice .price-info .price {
    font-size: 24px;
    line-height: 28px;
    color: #000; }
  .section-price-page .price-info .counter,
  #modalPrice .price-info .counter {
    display: inline-block;
    padding-left: 30px;
    position: relative;
    margin-top: 10px; }
    .section-price-page .price-info .counter:before,
    #modalPrice .price-info .counter:before {
      content: "";
      width: 14px;
      height: 15px;
      background-image: url("../img/user-icon.png");
      position: absolute;
      top: 4.5px;
      left: 0; }
    .section-price-page .price-info .counter span,
    #modalPrice .price-info .counter span {
      font-size: 14px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.5); }

.section-price-page .price-description {
  position: relative;
  width: 100%;
  padding: 20px;
  max-height: 140px;
  overflow: hidden; }
  .section-price-page .price-description ul {
    list-style-type: none; }

#modalPrice .modal-content {
  padding: 15px; }
  #modalPrice .modal-content .price-title,
  #modalPrice .modal-content .price-info {
    text-align: center; }
  #modalPrice .modal-content .price-description {
    padding: 20px;
    height: auto;
    overflow: visible; }
    #modalPrice .modal-content .price-description ul li {
      position: relative;
      padding-left: 20px;
      list-style-type: none;
      font-size: 16px;
      line-height: 30px; }
      @media (max-width: 992px) {
        #modalPrice .modal-content .price-description ul li {
          font-size: 14px; } }
      #modalPrice .modal-content .price-description ul li:before {
        content: "";
        width: 6px;
        height: 6px;
        background-color: #1874cd;
        position: absolute;
        left: 0;
        top: 12px; }
  #modalPrice .modal-content .more-toggle {
    display: none; }

#modalContactForm .modal-body-form {
  margin-top: 30px; }
#modalContactForm .modal-content {
  padding: 45px;
  max-width: 680px; }
  @media (max-width: 600px) {
    #modalContactForm .modal-content {
      padding: 20px; } }
#modalContactForm .modal-header {
  color: #000;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding: 0; }
  #modalContactForm .modal-header h4 {
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase; }
#modalContactForm .form-contact-popup {
  border-top: 1px solid #9d9d9d; }
#modalContactForm .form-input {
  height: 60px;
  box-shadow: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #9d9d9d;
  color: #000; }
#modalContactForm .form-message {
  resize: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid #9d9d9d;
  color: #000;
  padding: 6px 12px; }
  #modalContactForm .form-message:focus {
    outline: none; }
#modalContactForm .main-button {
  margin: 30px auto 0 auto; }

#modalContactForm .form-input::-webkit-input-placeholder,
#modalContactForm .form-message::-webkit-input-placeholder {
  color: #000;
  transition: 0.5s; }
#modalContactForm .form-input::-moz-placeholder,
#modalContactForm .form-message::-moz-placeholder {
  color: #000;
  transition: 0.5s; }
#modalContactForm .form-input:-ms-input-placeholder,
#modalContactForm .form-message:-ms-input-placeholder {
  color: #000;
  transition: 0.5s; }
#modalContactForm .form-input:-moz-placeholder,
#modalContactForm .form-message:-moz-placeholder {
  color: #000;
  transition: 0.5s; }
#modalContactForm .form-input:focus::-webkit-input-placeholder,
#modalContactForm .form-message:focus::-webkit-input-placeholder {
  color: transparent; }
#modalContactForm .form-input:focus::-moz-placeholder,
#modalContactForm .form-message:focus::-moz-placeholder {
  color: transparent; }
#modalContactForm .form-input:focus:-moz-placeholder,
#modalContactForm .form-message:focus:-moz-placeholder {
  color: transparent; }
#modalContactForm .form-input:focus:-ms-input-placeholder,
#modalContactForm .form-message:focus:-ms-input-placeholder {
  color: transparent; }

@media (min-width: 1601px) {
  .slider-centers .slick-dots {
    bottom: 312px; } }
@media (max-width: 1200px) {
  .slider-our-services .slider-content-box {
    margin-top: 0; }

  .slider-our-services .slick-dots {
    top: 100%;
    margin-top: 40px;
    margin-left: 0; }

  .slider-our-services .slider-content-box p {
    margin-top: 25px; }

  .section-about-us .section-head-box {
    margin-top: 0; }
  .section-about-us p {
    width: 100%; }
  .section-about-us .main-button {
    margin-top: 25px; }

  .item-list ul li {
    margin-right: 20px; }

  .section-special-offer-1 .offer-logo {
    width: 50%; }

  .slider-specialist .slick-dots {
    margin-left: 0; }

  .section-specialist .main-button {
    margin-right: 0; }

  .section-results p {
    width: 100%;
    margin-top: 40px; }
  .section-results .main-button {
    bottom: 50%;
    margin-bottom: -21px; }

  .slider-results .arrow-next-white {
    right: -28.5px; }

  .slider-results .arrow-prev-white {
    left: -28.5px; }

  .slider-centers .slider-content .main-button {
    margin: 30px auto; }

  .slider-centers .arrow-prev-white {
    left: 15px;
    margin-left: 0;
    transform: translate(0, -50%); }

  .slider-centers .arrow-next-white {
    right: 15px;
    transform: translate(0, -50%);
    margin-right: 0; }

  .section-special-offer-2 {
    text-align: center; }
    .section-special-offer-2 .stretch-y {
      display: block; }

  .logo-transparent {
    float: none;
    display: inline-block;
    margin: 55px auto 0 auto; }

  .section-special-offer-2 h3:after {
    display: none; } }
@media (max-width: 992px) {
  header .submenu-box {
    top: 65px; }
    header .submenu-box .container {
      padding: 0;
      width: 100%; }

  .submenu-box .row,
  .submenu-box .col-xs-12 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; }

  .item-list {
    left: 0;
    right: 0;
    text-align: center; }

  .menu-button-close, .language-button-close, .contact-button-close {
    top: -40px;
    right: 10px; }

  .login-button-close {
    right: 10px; }

  .item-list {
    border-right: none; }

  .item-list ul li {
    display: block;
    margin: 0; }

  .item-list ul {
    float: none; }

  .item-list ul li a {
    display: block; }

  .login-box {
    top: 0; }

  header:hover .email-button,
  header:hover .contact-button,
  .email-button,
  .contact-button {
    display: none; }

  .bg-box {
    display: block; }

  .bgvid {
    display: none; }

  h1 {
    font-size: 60px; }

  .top-video-description {
    font-size: 18px; }

  .video-progress-bar {
    margin-top: 20px; }

  .section-head-back {
    font-size: 56px;
    line-height: 56px; }

  .contact-button.show,
  .email-button.show,
  header:hover .email-button,
  header:hover .contact-button {
    display: none !important; }

  p {
    font-size: 14px;
    line-height: 26px; }

  .section-slider-services {
    text-align: center; }

  .slider-our-services .slider-content-box p {
    text-align: center; }

  .slider-our-services .slider-content-box {
    padding-left: 15px;
    padding-right: 15px; }

  .slider-our-services .slider-content-box > span {
    display: none; }

  .slider-our-services .slider-content-box h2 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 75px; }

  .slider-our-services .slick-dots {
    top: 35px; }

  .section-slider-services .main-button {
    margin-top: 40px;
    float: none;
    display: inline-block; }

  .section-about-us {
    text-align: center; }

  .section-about-us img {
    max-height: 400px;
    object-fit: cover; }

  .section-about-us .main-button {
    float: none;
    display: inline-block; }

  .section-about-us .section-head-box {
    margin-top: 30px;
    padding: 0 15px; }

  .section-head-title {
    left: 50%;
    transform: translateX(-50%);
    width: 100%; }

  .slider-results .slick-dots {
    margin-top: 0; }

  .section-feedback {
    text-align: center; }
    .section-feedback h2 {
      width: 100%; }
    .section-feedback .main-button {
      float: none;
      display: inline-block; }

  .section-special-offer-1 {
    text-align: center; }
    .section-special-offer-1 .flex-container {
      flex-direction: column; }
    .section-special-offer-1 .dot-list {
      order: 2;
      width: 100%;
      display: block; }
    .section-special-offer-1 .offer-logo {
      order: 1;
      width: 100%;
      text-align: center; }

  .section-special-offer-1 .dot-list ul {
    display: inline-block;
    margin-left: 70px;
    padding-top: 0;
    text-align: left; }

  .section-special-offer-1 .dot-list ul li {
    display: block;
    padding-left: 40px;
    width: 100%;
    height: 105px;
    padding-bottom: 30px;
    border-left: 1px solid #ff0000; }

  .section-special-offer-1 .dot-list ul li:last-child {
    border-left: none;
    padding-bottom: 0;
    height: auto; }

  .section-special-offer-1 .dot-list ul {
    border-top: none; }

  .section-special-offer-1 .dot-list ul li:after {
    left: -13px;
    top: -4px; }

  .section-special-offer-1 .dot-list ul li:before {
    top: 37.5px;
    left: -100px; }

  .section-specialist {
    text-align: center; }

  .section-results {
    text-align: center; }
    .section-results .stretch-y {
      display: block; }
    .section-results .section-head-box,
    .section-results p {
      margin-bottom: 30px;
      text-align: center; }
    .section-results .main-button {
      position: relative;
      float: none;
      display: inline-block; }

  .section-results .main-button {
    bottom: 40px; }

  .slider-results .arrow-prev-white {
    left: -65px; }

  .slider-results .arrow-next-white {
    right: -65px; }

  .section-gallery {
    text-align: center; }

  .slider-centers .slider-content p {
    margin-top: 20px;
    margin-bottom: 20px; }

  .section-testimonials {
    text-align: center; }
    .section-testimonials .media {
      margin-left: 0; }
    .section-testimonials .media-body {
      text-align: left; }
    .section-testimonials .slick-dots {
      left: 0;
      margin-left: 0; }

  .section-form {
    padding: 80px 0 !important; }

  footer p {
    margin-top: 0; } }
@media (max-width: 768px) {
  /*Disable Animation on Mobile Devices */
  .wow {
    /*CSS transitions */
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms */
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations */
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; }

  header {
    position: relative; }

  .section-head-back {
    font-size: 50px;
    line-height: 50px; }

  .section-about-us {
    padding: 0 0 80px 0; }

  .section-about-us p {
    margin-top: 30px; }

  .section-about-us img {
    max-height: 200px;
    width: 100%; }

  .section-about-us .col-xs-12 {
    padding: 0; }

  .section-special-offer-1 {
    padding: 80px 0 0 0 !important; }
    .section-special-offer-1 img {
      display: none; }

  .slider-centers .slick-dots {
    bottom: 20px; }

  .slider-centers .slider-content {
    width: 100%; }

  .slider-centers img {
    min-height: 500px;
    object-fit: cover; }

  .slider-centers .slider-content .more-info {
    display: inline-block;
    margin-top: 20px; }

  .section-gallery .main-button {
    margin-top: 80px;
    display: inline-block;
    float: none; }

  .slider-gallery .slick-dots {
    bottom: -55px;
    width: 100%; }

  .form-feedback {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; }
    .form-feedback .form-group-name {
      margin-top: 20px; }

  .media {
    position: relative;
    text-align: center;
    padding-bottom: 50px;
    padding-bottom: 60px;
    margin-left: 0; }

  .media-body {
    display: block;
    width: 100%;
    padding: 0 15px;
    text-align: center; }

  .media-left {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0); }

  .media-left span {
    display: block; }

  .section-testimonials .main-button {
    float: none;
    display: inline-block;
    margin-top: 100px; }

  .slider-testimonials .slick-dots {
    bottom: -70px;
    left: 50%;
    transform: translate(-50%, 0); }

  .section-specialist .main-button {
    display: inline-block;
    float: none;
    margin-top: 110px; }

  .slider-specialist .slick-dots {
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%); }

  .slick-lightbox .slick-next {
    background-image: url("../img/arrow-next-white.png");
    border: none;
    right: 0; }

  .slick-lightbox .slick-prev {
    background-image: url("../img/arrow-prev-white.png");
    border: none;
    left: 0; }

  footer {
    text-align: center; }

  footer p {
    margin-top: 30px;
    width: 66.66666%;
    margin-left: 16.66666%; }

  .footer-links {
    margin-left: 8.33333%; } }
@media (max-width: 600px) {
  .login-box {
    position: relative;
    background-color: #fff; }

  .login-button-close {
    top: -65px; }

  .login-button-group {
    left: 0;
    right: 0;
    text-align: center;
    border-right: 0; }

  .sign-in, .registration {
    float: none;
    display: block;
    margin: 0 auto 15px auto; }

  .section-head-back {
    display: none; }

  .section-head-title {
    position: relative; }

  .slider-our-services .slick-dots {
    margin-bottom: 95px; }

  .slider-our-services .slick-dots {
    top: 55px; }

  .section-results p {
    display: none; }

  .section-results .hidden-600 {
    display: none; }

  .section-results .visible-600 {
    display: inline-block; }

  .section-special-offer-2 h3 {
    font-size: 24px;
    line-height: 30px; }

  .logo-transparent {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 0 15px; }

  .form-feedback .input-phone {
    border-right: 1px solid rgba(255, 255, 255, 0.3); }

  .form-feedback {
    width: 100%; }

  footer p {
    width: 100%;
    padding: 0 15px;
    margin-left: 0; }

  .footer-links {
    display: none; } }
@media (max-width: 500px) {
  .slider-centers .slider-content p {
    display: none; }

  .slider-centers img {
    min-height: 400px; }

  .login-button {
    display: none; }

  .nav-box .login-box {
    display: block; }

  .nav-box .login-box .login-button-close {
    display: none; }

  footer img {
    width: 80%;
    height: auto;
    margin: 0 auto; } }
@media (max-width: 400px) {

  .inner-video-content h1, h1 {
    font-size: 32px; }

  .top-video-description {
    font-size: 14px;
    line-height: 24px; }

  .section-special-offer-1 .dot-list {
    margin-top: -30px; }

  .section-special-offer-1 .dot-list ul li {
    border-left: none;
    padding: 90px 15px 0 15px;
    height: auto;
    margin-top: 30px; }

  .section-special-offer-1 .dot-list ul li:after {
    display: none; }

  .section-special-offer-1 .dot-list ul {
    margin-left: 0;
    text-align: center; }

  .section-special-offer-1 .dot-list ul li:before {
    top: 0;
    left: 50%;
    transform: translateX(-50%); }

  .section-results .col-xs-12 {
    padding: 0; }

  .section-special-offer-2 h3 {
    font-size: 16px;
    line-height: 24px; }

  .slick-lightbox .slick-next,
  .slick-lightbox .slick-prev {
    display: none !important; }

  footer img {
    width: 100%;
    height: auto; } }
@media (max-width: 350px) {
  .main-button {
    padding: 0 35px; }

  .login-button {
    margin: 10px; } }

.section-blog-page {
  margin-top: 50px;
}

.section-blog-page .post-meta {
  font-size: 0.9em;
  opacity: 0.8;
}

.section-blog-page .post-meta span {
  margin-right: 10px;
}

.section-blog-page .post-media,
.section-blog-single .post-media{
  overflow: hidden;
  margin: 20px 0;
}

.section-blog-page .post-media:hover img {
  -webkit-transform: scale(1.3) rotate(10deg);
  -ms-transform: scale(1.3) rotate(10deg);
  transform: scale(1.3) rotate(10deg);
}

.section-blog-single .post-media img {
  max-width: 100%;
}

.section-blog-page .post-media img {
  width: 100%;
  -webkit-transform: scale(1) rotate(0);
  -ms-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
  -webkit-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.section-blog-page .row {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.popupInfo{
  background-color: #3a91d7;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  color: white;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 767px) {
  .popupInfo {
    top: 214px;
    height: 40px;
  }
}


/*# sourceMappingURL=style.css.map */