.dd-selected {
    position: relative;
}
.dd-option {
    position: relative;
}
.dd-option-image, .dd-selected-image {
    object-fit: cover;
    width: 22px;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    right: 30px;
    bottom: 0;
}
.dd-options li{
	margin: 0px;
}